@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  position: relative;
}
.overlay,
.board-troll,
.result {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board-troll,
.result,
.overlay.active {
  display: none;
}
.board-troll.active {
  display: flex;
}
.model,
.model2 {
  font-size: 40px;
  line-height: 80px;
  letter-spacing: 2px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
.model2 {
  font-size: 20px;
}
.okfine,
.yes,
.no {
  width: 200px;
  padding: 10px;
  font-size: 30px;
  text-transform: uppercase;
  border: none;
  outline: none;
  border: 2px solid #000;
  background: #fff;
  cursor: pointer;
}
.yes {
  width: max-content;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
  color: red;
}
.no {
  position: absolute;
  top: 56%;
  left: auto;
  transition: 0.2s;
}
.result.show {
  display: flex;
}
input[type="text"] {
  padding: 10px;
  width: 70%;
  font-size: 30px;
}
@media screen and (max-width: 448px) {
  .okfine,
  .yes,
  .no {
    font-size: 20px;
  }
  input[type="text"] {
    padding: 10px;
    width: 99%;
    font-size: 18px;
  }
}
@media screen and (max-width: 360px) {
  .okfine,
  .yes,
  .no {
    font-size: 18px;
    padding: 7px;
  }
}
